<ion-view view-title="Active Developer">
  <ion-content>
    <ion-list>
    <ion-toggle ng-repeat="chat in chatss" ng-model="settings.enableFriends">
        Employee-xyz
        <p>{{chat.lastText}}</p>
    </ion-toggle>
     <ion-toggle  ng-model="settings.enableFriendssssss">
         Employee-mll
         
    </ion-toggle>
     <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
       
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    <ion-toggle  ng-model="settings.enableFriends">
        Employee-asc
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
